.bannerMainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255,248,170);
  background: linear-gradient(0deg, rgba(255,248,170,1) 0%, rgba(255,255,255,1) 93%);
}
.bannerChild1{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
.bannerChild1 > img {
  width: 100%;
  height: auto;
}
.bannerChild2{
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}
.awardReceivingPic{
  width: 100%;
  margin: 1rem 0 1rem 0;
}
.awardReceivingPic > img {
  width: 100%;
  height: auto;
}
.unorderList{
  margin-left: 2.5rem;
  font-size: .9rem;
}
.pointerContent > h4{
  margin-bottom: 0.7rem;
}
.imageSubtext{
  font-size: .9rem;
}
.subPara{
  font-size: 0.9rem;
  padding: 2.5rem 1rem 0 1rem;
  background-color: rgba(255,248,170,1);
  text-align: center;
}

@media(max-width : 1240px){
  .bannerChild1{
    width: 35%;
  }
  .bannerChild2{
    width: 55%;
  }
}

@media(max-width : 900px){
  .bannerChild1{
    width: 40%;
  }
  .bannerChild2{
    width: 55%;
  }
  .unorderList{
    margin-left: 2rem;
    font-size: .8rem;
  }
  .pointerContent > h4{
    margin-bottom: 0.6rem;
  }
  .imageSubtext{
    font-size: .8rem;
  }
}

@media(max-width : 620px){
  .bannerMainContainer{
    flex-direction: column;
  }
  .bannerChild1{
    width: 45%;
  }
  .bannerChild2{
    width: 80%;
  }
  .pointerContent > h4{
    text-align: center;
  }
  .unorderList{
    margin-left: 1rem;
  }
  .imageSubtext {
    text-align: center;
  }
}